@charset "UTF-8";
/* CSS Document                                                              */
/* Development by Reuben Johnson                                             */
/* Custom Website Design by Sherri Johnson                                   */
/* Couture Web Design & Development Boutique, Fly Media Productions, LLC     */
/* url: FlyMediaProductions.com                                              */
/* For: Another Fly Media Client!                                            */



/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

* {margin: 0; padding: 0;}/* reset all to zero */

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}



/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
/*a:hover, a:active {outline: none;}*/
a:focus { outline: thin dotted; }/* more accessible, setting outline to thin because settting to none creates issues for usability w/ keyboard/screen readers */

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }

.group:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}



/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/



/* -------------- some classes 
-----------------------------------------------------*/


.FlyDuo h1, .FlyDuo h2, .FlyDuo h3, .FlyDuo h4, .FlyDuo h5, .FlyDuo h6, .FlyDuo h7, .FlyDuo h8, .FlyDuo h9{margin-left: 0px; margin-bottom: 1%; margin-top: 1%; padding-bottom: 0px; padding: 0px;}

/* -- classes -> alignments -- */
.FlyDuo .center{text-align: center;}
/* -- /alignment -- */

/* -- classes -> clears and floats -- */
.FlyDuo .float-left{float: left;}
.FlyDuo .float-right{float: right;}

.FlyDuo .clear-left{clear: left;}
.FlyDuo .clear-right{clear: right;}
.FlyDuo .clear-both{clear: both;}
.FlyDuo .clear-fix{clear: both; width: 100%; display: block;}
/* -- /clears and floats -- */


/* -- classes -> margins -- */
.FlyDuo .margin-none{margin: 0px;}
/* -- /margins -- */


/* -- classes -> visibility and display -- */
.FlyDuo .display-none{display: none;}
/* -- /visibility and display -- */


/* -- classes -> borders -- */

/* border -> sizing */
.FlyDuo .border-none{border: none;}
.FlyDuo .img-border{border: 1px solid;}

/* border -> coloring */
.FlyDuo .border-color-light{border-color: #999;}
.FlyDuo .border-color-medium{border-color: #666;}
.FlyDuo .border-color-medium-dark{border-color: #333;}
.FlyDuo .border-color-dark{border-color: #000;}


/* -- /classes -> object shadow/box shadow -- */


/* -- classes -> backgrounds -- */

.FlyDuo .background-none{background: none;}
.FlyDuo .background-transparent{background: transparent;}
.FlyDuo .background-light{background-color: #fff;}
.FlyDuo .background-medium{background-color: #ccc;}
.FlyDuo .background-medium-dark{background-color: #333;}
.FlyDuo .background-dark{background-color: #121212;}
.FlyDuo .background-darkest{background-color: #000;}

/* -- /backgrounds -- */



/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }



/* html, body */
html{  
  /* safari->{Mac osx} font anti-aliasing / font-smoothing on web-fonts  */
	/*-webkit-font-smoothing: antialiased;*/
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
  	background: url(../img/bg/bg-img.jpg) left top repeat #fff fixed;
	background-color: #fff;
  	color: #222222;
	font-size: 100%;	
	font-family: 'Open Sans', sans-serif; font-size: 17px; 
	/*-webkit-font-smoothing:antialiased;
  		text-rendering:optimizeLegibility;  */
  	min-height: 100%;
}


/* typography defaults */
span, p, div,
	table, th, td, li, dd, dl, dt{
	font-size: 0.875rem;/* 14px / 16px = 0.875rem */ font-family: "Arial", "Tahoma", "Verdana", "Geneva", sans-seriff; font-weight: normal;
}

/* headings */
h1, h2, h3, h4, h5, h6, h7, h8, h9{font-family: "Arial", "Tahoma", "Verdana", "Geneva", sans-seriff; font-weight: normal;}
h1, h2, h3, h4, h5, h6, h7, h8, h9{font-size: 16px; font-weight: 700; color: #36a09d;}

h1, h2, h3, h4, h5, h6, h7, h8, h9{margin-left: 0px; margin-bottom: 1%; margin-top: 1%; padding-bottom: 0px; padding: 0px;}

/* ie6 conditional classes */
.ie6-hide{display: none !important; visibility: hidden;}

/* all headings within the sidebar regions */
.sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4,
	.sidebar h5, .sidebar h6, .sidebar h7,
	.sidebar h8, .sidebar h9{color: #36a09d; font-weight: normal;}
	
/* removing text-transform stylings from specific headings w/ the class .text-transform-none */	
.text-transform-none h1, .text-transform-none  h2,
	.text-transform-none h3, .text-transform-none h4,
	.text-transform-none h5, .text-transform-none h6,
	.text-transform-none h7, .text-transform-none h8,
	.text-transform-none h9{text-transform: none;}
	
/* removing the text-transform styling from the class: main-headings in the sidebar regions */	
.sidebar .main-heading 	h1, .sidebar .main-heading h2,
	.sidebar .main-heading h3, .sidebar .main-heading h4,
	.sidebar .main-heading h5, .sidebar .main-heading h6,
	.sidebar .main-heading h7, .sidebar .main-heading h8,
	.sidebar .main-heading h9{text-transform: none;}
	
/* sidebar .titles w/ anchors inside of them */
.sidebar .title a{text-transform: none;}



/* text styles classes */
.text-underline{text-decoration: underline;}
.font-weight-bold{font-weight: 900;}
.text-required{color: red;}
.text-justify{text-align: justify;}
.font-weight-normal, .font-weight-normal a,
  .font-weight-normal h1, .font-weight-normal h2,
  .font-weight-normal h3, .font-weight-normal h4,
  .font-weight-normal h5, .font-weight-normal h6,
  .font-weight-normal h7, .font-weight-normal h8,
  .font-weight-normal h9,
  .font-weight-normal p{font-weight: normal;}


/* date values in the sidebar regions */
.sidebar .date p{font-size: 11px;}


/* numbered lists */
ol.numbered li{list-style: decimal;}


/* --- SPECIAL WEB FONTS --- */
.web-font-cursive, .web-font-cursive h1, .web-font-cursive h2,
	.web-font-cursive h3, .web-font-cursive h4, .web-font-cursive h5,
	.web-font-cursive h6, .web-font-cursive p{color: #f2eee2; font-size: 24px; font-family: 'Nothing You Could Do', cursive; text-transform: none; font-weight: bold;}
/* webfont > cursive > font-weight: normal */
.web-font-cursive-no-bold, .web-font-cursive-no-bold h1, .web-font-cursive-no-bold h2,
	.web-font-cursive-no-bold h3, .web-font-cursive-no-bold h4, .web-font-cursive-no-bold h5,
	.web-font-cursive-no-bold h6, .web-font-cursive-no-bold p{color: #f2eee2; font-size: 24px; font-family: 'Nothing You Could Do', cursive; text-transform: none; font-weight: normal;}

.web-font-standard{color: #f2eee2; font-size: 16px; font-family: "Tahoma"; text-transform: none; font-weight: bold;}


/* FORM:ERROR MESSAGES */
/* notices, errors, messages */
.error, .error-notice{color: red; font-size: 14px; font-family: "Tahoma";}
#msg, .msg{color: blue;}

.item-caption{font-weight: bold; text-transform: uppercase; color: #c0c0c0;}
/* /notices, errors, messages */



/* link styles */
a{color: #d26236; font-size: 100%; text-decoration: none; font-family: 'Open Sans', sans-serif; font-size: 17px;}
/* a:visited{color: #727272; text-decoration: none; } */
a:hover, a:focus{color: #ec0928; text-decoration: underline;}
a:active{color: #ec0928; text-decoration: underline;}


p{margin-bottom: 3%; margin-top: 2%; text-align: justify;}
blockquote{font-style: italic;}
.link p{margin-bottom: 0}


/* ------ outer wrappers ---------- */

.FlyDuo{}

.browser-body-container{
  background: url(../img/bg/header-city-bg.jpg) left top repeat-x transparent fixed;
  position: relative; 
  text-align: center; padding: 0px; margin: 0px auto; width: 100%; height: 100%; }




 /* primary site navigation */
.FlyDuo .site-nav{background: #62b2af; position: fixed; padding: 0px; margin: 0px auto; width: 100%; min-width: 100%; min-height: 1.875rem; height: 28px;/* 30px / 16px = 1.875rem */ z-index: 99;}

.FlyDuo .site-nav .menu{width: 896px; height: 100%; margin: 4px auto; text-align: right;}
.FlyDuo .site-nav .menu ul{margin: 0px; padding: 0px; text-align: center; height: 100%; text-align: right; display: inline !important/*for ie7*/;}
.FlyDuo .site-nav .menu ul li{padding: 0px 12px; list-style: none; display: inline !important/*for ie7*/; }
.FlyDuo .site-nav .menu ul li h2{ display: inline !important/*for ie7*/; }
.FlyDuo .site-nav .menu ul .last-menu-item{padding-right: 0px;}
.FlyDuo .site-nav .menu ul li a{border: none;}
.FlyDuo .site-nav a img{border: 0px solid; top: 0px !important; padding: 0px; margin: 0px;}
.FlyDuo .site-nav .shopping-cart{height: 33px; padding-top: 5px !important;}

.FlyDuo .site-nav ul{color: #fff; font-size: 12px;}
.FlyDuo .site-nav ul li a, .FlyDuo .site-nav ul li a:active, .FlyDuo .site-nav ul li a:visited{font-family: 'Open Sans', sans-serif; color: #fff; font-size: 15px; text-decoration: none; text-transform: uppercase;}
.FlyDuo .site-nav ul li a:hover{text-decoration: underline;}
.FlyDuo .site-nav ul li {display: inline-block; margin: 0px; padding: 0px; color: #336699;}
.FlyDuo .site-nav #selected-page{text-decoration: underline;}
.FlyDuo .site-nav ul li a img{border: none;}
/* --- / navigation -> main site navigation --- */



.header-wrapper{    
  position: relative; z-index: 2; margin: 10px auto 0px; width: 100%; min-width: 960px; height: auto; padding-top: 24px; 
}
.header-wrapper .logo{text-align: center; position:relative; bottom: -36px; margin: 0 auto; width: 186px; height: 224px;}
.header-wrapper .logo a img{border: none; width: 186px; height: 224px;}


/* site-container */
.site-container{
	background: #fff; 
	padding: 0px; margin: 0px auto 0; padding: 28px 0 0; width: 960px; height: 100%; min-height: 500px;
}


/* masthead */
.masthead{
	border: none; 
	background: url(../img/bg/masthead-bg.jpg) left bottom repeat transparent;
	margin: 0 auto; 
	width: 960px; height: 190px;
}
.masthead img{border: none;}
.masthead a img{border: none;}


/* tagline */
.tagline{text-align: center; padding: 4px 40px 0px; margin: 0 auto; width: 92%;}
.tagline h1{color: #36a09d; font-size:20px; font-weight: normal; margin-bottom: 0;}


.boiler-wrapper{
	width: 960px; height: 302px; 
	text-align: center; margin: 0 auto; 
}
.boiler-wrapper img{
	border: none;
}







/* breadcrumbs */
.FlyDuo .content-container .category-breadcrumbs-row{display: block; text-align: left; width: 100%; height: 38px; margin: 0px 0px 20px 0px; padding: 0px;}
.FlyDuo .content-container .category-breadcrumbs-row .breadcrumbs {width: 100%; padding: 0px; text-align: left !important; float: left;}
.FlyDuo .content-container .category-breadcrumbs-row .breadcrumbs ul{display: inline !important;}
.FlyDuo .content-container .category-breadcrumbs-row .breadcrumbs ul li{display: inline !important;}

.FlyDuo .content-container .category-breadcrumbs-row .breadcrumbs ul li a{font-size: small;}
/* --- navigation -> supplimental nav -> breadcrumbs --- */







/* home -> social-icons */
.social-sharing-wrapper{background: none; text-align: center; clear: both; margin: 20px auto 0px; width: 100%; height: 32px;}
.social-sharing-wrapper-inner{background: none; text-align: center; margin: 0 auto; width: 500px; height: auto;}
.social-sharing-wrapper span{float: left; margin: 0 auto; text-align: center;}
.social-sharing-wrapper span.st_facebook_hcount{}
.social-sharing-wrapper span.st_fblike_hcount{}
.social-sharing-wrapper span.coming-soon-image{position: relative; top: -8px;}
.social-sharing-wrapper span.coming-soon-image img{border: none; margin-left: 14px;}
/*----- the site layout containers ----------*/



/* 404 and Error pages specific */
.four-zero-four-error-page .the-pages-primary-content .copy{text-align: center; margin: 20px auto;}
.four-zero-four-error-page .the-pages-primary-content .copy img{text-align: center; margin: auto; }






/* ----- MAIN -> Content loaded areas ----- */
.FlyDuo .content-wrapper{
	 background: none; z-index: 1; position: relative; overflow: hidden !important;
   text-align: center; padding: 0px 0px 0px 0px; margin: 16px auto 0px; top: 0px; 
	 width: 900px; height: auto; min-height: 332px; 
}/* -- /.content-wrapper -- */



/*---------------------------------------home page-----------------------------------*/



/* home page specific */
.home .FlyDuo .content-wrapper{width: 900px; padding-bottom: 10px;}



.content-wrapper .row{
	background: url(../img/bg/verticle-rule.jpg) center bottom no-repeat; 
	min-height: 247px; 
	width: 100%; height: auto; 
}

body.updates .site-container{
	padding-bottom: 50px;
}



body.updates .content-wrapper .row{/* extending base styles */
	background-image: none;
}
body.error-page .content-wrapper .row{/* extending base styles */
	background-image: none;
}


body.guest-book .content-wrapper .row{min-height: none;}

.content-wrapper .row .left-col{
	float: left; width: 50%; height: 100%; padding-right: 20px; padding-left: 18px; 
}
.content-wrapper .row .right-col{
	float: left; width: 50%; height: 100%; padding-right: 18px; padding-left: 20px; 
}

.content-wrapper .full-width{
	width: 100%; height: 100%; padding-right: 20px; padding-left: 18px; 
}


article.intro{position: relative; }

article.intro p{
	font-family: 'Open Sans', sans-serif; font-size: 17px; font-weight: normal; 
}
article.contact p{
	font-family: 'Open Sans', sans-serif; font-size: 17px; 
	text-align: left; 
}
article.contact ul{
	text-align: left;
}
article.contact ul li{
	font-family: 'Open Sans', sans-serif; font-size: 17px; 
}
article.intro + section.link{
	position: relative; bottom: 0; 
	font-family: 'Open Sans', sans-serif; font-size: 17px; 
}

article.intro + section.link ul{
	text-align: left; 
	font-family: 'Open Sans', sans-serif; font-size: 17px; 
}
article.intro + section.link ul li{
	text-align: left; 
	font-family: 'Open Sans', sans-serif; font-size: 17px; 
}

.content-wrapper .row.first-row{min-height: 1px;}
.content-wrapper .row .welcome-text p{
	font-family: 'Open Sans', sans-serif; font-size: 17px; color: #222; font-weight: normal; text-align: left;
}


body.obituary .content-wrapper .row{
	min-height: 1px;
}
body.obituary .content-wrapper .copy img{
	margin: 14px 20px;
}


.content-wrapper .row.guest-book{
	background: none; width: 100%; height: auto; min-height: none;  margin-top: 0; padding-top: 0;

}
.content-wrapper .row.guest-book section{
	display: block; width: 100%; text-align: left; margin-top: 0; padding-top: 0;
}
.content-wrapper .row.guest-book section.link-img{
	width: 100%; 
	text-align: center;
}
.content-wrapper .row.guest-book section.link-img a{text-align: center;}
.content-wrapper .row.guest-book section.link-img a img{
	border: none;
}

body.home .content-wrapper .row.guest-book.full-width.quote{
border-top: 1px solid #000; margin-top: 20px;
}

.content-wrapper .row.guest-book.full-width.quote{
	margin-top: 20px; min-height: 30px;
}
body.home .content-wrapper .row.guest-book.full-width.quote{/* extending base styles */
	margin-bottom: 20px; 
}
.content-wrapper .row.guest-book.full-width.quote p{
	text-align: center; font-style: italic; 
	font-family: 'Open Sans', sans-serif; font-size: 17px; 
	margin-bottom: 0;
}


body.error-page h1{text-align: left; font-weight: normal;}



/* updates page */
body.updates .content-wrapper .row.page-title{/* extending base styles */
	background: url(../img/bg/page-title.jpg) center center no-repeat; width: 897px; height: 47px; min-height: 47px;  margin-top: 0; padding-top: 0; margin-bottom: 10px;
}

.page-title h1{
	padding: 7px 0 0; margin: 0 auto; min-width: 897px; min-height: 47px; 
	font-family: 'Open Sans', sans-serif; font-size: 22px; color: #fff; font-weight: normal; text-align: center; text-transform: uppercase; 
}

.content-wrapper .page-title section{
	display: block; width: 100%; text-align: left; margin-top: 0; padding-top: 0;
}
.content-wrapper .page-title section.img{
	width: 100%; 
	text-align: center;
}
.content-wrapper .page-title section.img a{text-align: center;}
.content-wrapper .page-title section.img a img{
	border: none;
}


article.update{
	background: #f1f1f1; padding: 20px 25px; text-align: center; margin: 0 auto 18px; 
}
article.update p{
	text-align: justify; font-size: 17px; font-family: 'Open Sans', sans-serif; color: #222; 
}
article.update .date{
	margin-bottom: 20px; text-align: left; display:  block; width: 100%;
}
article.update .date h4{
	font-family: 'Open Sans', sans-serif; font-size: 18px; color: #222; font-weight: 600; text-align: left;
}


.guest-book-wrapper{text-align: left;}


.guest-book-wrapper .comments-wrapper{
	text-align: left;
}
.guest-book-wrapper .comment-block{
	background: #f1f1f1; padding: 8px 25px; text-align: center; margin: 0 auto 18px; 
	text-align: left; 
}
.guest-book-wrapper .user-name{
	text-align: left; font-weight: normal; margin-bottom: 0px;
}
.guest-book-wrapper .user-name h4{
	font-weight: 600; font-size: 18px; color: #222; margin-bottom: 0;

	font-family: 'Open Sans', sans-serif; text-align: left;
}
.guest-book-wrapper .poasted-date{}
.guest-book-wrapper .posted-date h4{
	font-weight: normal; font-size: 13px; color: #666; margin-top: 0;

	font-family: 'Open Sans', sans-serif; text-align: left;
}
.guest-book-wrapper .comment-message{

}
.guest-book-wrapper .comment-message p{
	font-family: 'Open Sans', sans-serif; font-size: 17px; color: #222; font-weight: normal; text-align: left;
}
.comments-form-wrapper{
	width: 100%; 
	text-align: left; margin-top: 10px auto;
}
.comment-count-heading{
	border-bottom: 1px solid #333; 
	text-align: left; width: 100%; 
}
.comment-count-heading h4{
	font-weight: normal; text-align: left; font-size: 17px; color: #333; 
}


.comments-form-wrapper .heading{
	text-align: left; margin: 20px 0 26px 20px;
}
.comments-form-wrapper .heading h2{
	text-align: left; color: #222; 
	text-transform: uppercase; font-weight: 500; 
	font-family: 'Open Sans', sans-serif; font-size: 18px; color: #222; 

	margin-bottom: 0; 	
}
.comments-form-wrapper .heading p{
	margin: 4px 0 0; 
	font-family: 'Open Sans', sans-serif; font-size: 15px; color: #222;
}

.comments-form-wrapper .guest-book-comments-form{
	text-align: left; 
	padding: 0 20px 45px;
}
.guest-book-comments-form{}
.guest-book-comments-form li{margin: 0 0 0 0;}
.guest-books-comments-form .input{
	text-align:  left; display: block; 
	margin-top: 8px; margin-bottom: 20px;
}
.guest-books-comments-form .input input{
	border: 1px solid #777; width: 225px; height: 26px; 
	text-align: left; padding: 4px;
	float: left;
}


.guest-books-comments-form .label{
	text-align: left; display: block; 
	float: left; margin: 0 0;
}
.guest-books-comments-form .label label{
	margin: 0 0; 

	font-family: 'Open Sans', sans-serif; font-size: 17px; color: #222; font-weight: normal; text-align: left;
}
.guest-books-comments-form input{
	font-family: 'Open Sans', sans-serif; font-size: 17px; color: #222; font-weight: normal; text-align: left;
}
.guest-books-comments-form .comments-name{float: left; width: 100%; clear: left; margin: 0 0 10px 0;}
.guest-books-comments-form .comments-name .input{width: 220px; float: left; margin: 0 10px 0 0;}
.guest-books-comments-form .comments-name .label{float: left;}
.guest-books-comments-form .comments-email{float: left; width: 100%; clear: left;margin: 0 0 4px 0;}
.guest-books-comments-form .comments-email .input{width: 220px; float: left; margin: 0 10px 0 0;}
.guest-books-comments-form .comments-email .label{float: left;}


.guest-books-comments-form .comments-comment{
	clear: both; 
}
.guest-books-comments-form .comments-comment .input{
	margin-bottom: 8px;
}
.guest-books-comments-form .comments-comment textarea{
	border: 1px solid #777; width: 855px; height: 180px; 
	text-align: left; padding: 10px 20px; margin: 0 0 0 0; 

	font-family: 'Open Sans', sans-serif; font-size: 17px; color: #222; font-weight: normal; text-align: left;
}
.guest-books-comments-form .comments-submit{
	margin: 10px 0 0 0;
}
.guest-books-comments-form .comments-submit input{
	background: #d26236; color: #fff; 
	box-shadow: 2px 2px 2px #000; 
	width: 140px; text-align: left; 
	border: none; padding: 3px 20px;
}
.guest-books-comments-form .comments-submit input:focus, 
	.guest-books-comments-form .comments-submit input:hover{
		background: #1f1f1f;
	}

.comments-captcha-wrapper p{
	margin: 0 0 10px 0; 
	font-family: 'Open Sans', sans-serif; font-size: 15px; color: #222;
}
.comments-captcha-wrapper input{
	border: 1px solid #777; 
}





/* ---- FOOTER ---- */
.FlyDuo .footer{width: 898px; height: 55px; text-align: center; margin: 0px auto; overflow: hidden; margin-bottom: 30px;}
.FlyDuo .footer ul{margin: 0px; padding: 0px; text-align: center;}
.FlyDuo .footer ul li{display: inline; list-style: none; padding: 0px; margin: 0px;}

.FlyDuo .footer .footer-credits{background: transparent; width: 100%; margin: 2px auto; text-align: right;}
.FlyDuo .footer .footer-credits ul{display: inline !important; margin: 0px; margin-right: 15px; padding: 0px; text-align: right;}
.FlyDuo .footer .footer-credits ul li{display: inline !important; list-style: none; padding: 0px; margin: 0px; top: -5px; position: relative;}

.footer ul li.fly-media-logo{margin-top: 0px; margin-left: 20px;}
.footer ul.footer-credits li .flyduo-logo-img{position: relative; top: 16px;}
.footer ul.footer-credits li a img.flyduo-logo-img,
  .footer ul.footer-credits li img.flyduo-logo-img{border: 0;}


.footer .footer-credits li .flyduo-logo-img{position: relative; top: 18px;}
.footer .footer-credits li a img.flyduo-logo-img,
  .footer .footer-credits li img.flyduo-logo-img{border: 0;}  
.footer .footer-credits img.flyduo-logo-img{width: 108px; height: 40px;}
	

.FlyDuo .footer, .FlyDuo .footer ul,  .FlyDuo .footer ul li{color: #333; font-size: 10px !important;}
.FlyDuo .footer ul li a, .FlyDuo .footer ul li a:active, .FlyDuo .footer ul li a:visited{text-decoration: none; font-size: 10px; color: #333;}
.FlyDuo .footer ul li a:hover{text-decoration: underline; font-size: 10px;}	
/* ---- /footer ---- */



/* copyright and credits */
/*
.footer .footer-credits{background: none; float: right; font-size: 12px; text-align: right; margin: 10px 2px 0 0; width: auto; max-width: 190px; height: auto;}
.footer .footer-credits ul{color: #333; font-size: 11px; text-align: right; padding: 0px; margin: 0px;}
.footer .footer-credits li{color: #333; display: inline; font-size: 11px; list-style: none; padding: 0px; margin: 0px; position: relative;}
*/
/*  /footer, footer-credits */

