@charset "UTF-8";
/* CSS Document                                                              */
/* Development by Reuben Johnson                                             */
/* Custom Website Design by Sherri Johnson                                   */
/* Couture Web Design & Development Boutique, Fly Media Productions, LLC     */
/* url: FlyMediaProductions.com                                              */
/* For: Another Fly Media Client!                                            */


body { 
	color: #000;
	font-size: 60%;
	font-family: arial, verdana, geneva, sans-seriff; 
	background: #fff; 
	margin-top: 0%; 
}

table, span, p, div, th, td, li, dd, dl, dt{
	font-size: small; font-family: arial, verdana, geneva, sans-seriff; font-weight: 500;
}
table, span, p, div, th, td, li, dd, dl, dt, h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	font-size: small; font-family: arial, verdana, geneva, sans-seriff;
}
h1{
	font-size: small; font-weight: bold;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9{
	margin-left: 0px; margin-bottom: 1%; margin-top: 1%; font-weight: bold; padding-bottom: 0px; padding: 0px; 
}
h2, h3, h4, h5, h6, h7, h8, h9{
	font-size: 11px; font-family: verdana;
}

a{		
		color: #ff6600; font-family: verdana, arial, geneva, seriff; font-size: 11px; display: inline; font-weight: normal; text-decoration: none;
	}
a:visited{		
		color: #ffff66; font-weight: normal;
	}
a:hover{
		color: #6699cc; font-weight: normal; text-decoration: underline;
	}
a:active{
	color: #ffff66; font-weight: normal; text-decoration: underline;
}

p{
	margin-bottom: 2%; margin-top: 1%; margin-left: 0%; margin-right: 0%;
}

ul{
	list-style: none; margin-left: 0px; margin: 0px; margin-bottom: 5%;
}
ol{
	margin-left: 0px; margin: 0px;
}
li{
	list-style: none; margin-left: 0px;
}
blockquote{
	margin-left: 0px; margin-right: 5px; font-style: italic;
}


.underline{
		text-decoration: underline;
}
.center{
		text-align: center;
}
.bold{
		font-weight: 700;
}
.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}
.clearBoth{
	clear: both;
}
.noMargin{
	margin: 0px;
}

.red{
	color: red;
}
.justify{
	text-align: justify;
}


.header-wrapper,
	.header-wrapper header,
	.header-wrapper .site-nav{display: none; visibility: hidden;}
	
.utility-nav{display: none; visibility: hidden;}

.primary-promo-message{display: none; visibility: hidden;}
.pagination{display: none; visibility: hidden;}
.product-image img{max-width: 197px; max-height: 282px;}
.products-lister .product{float: left; margin: 1% 2%; height: 378px;}
.products-lister .product .product-details{max-width: 197px;}

.breadcrumb-bar{display: none; visibility: hidden;}
.thumbnails-block{display: none; visibility: hidden;}

.featured-product-row{display: none; visibility: hidden;}

.sidebar .featured-block{display: none; visibility: hidden;}
.sidebar .nav-block{display: none; visibility: hidden;}
aside.navigation{display: none; visibility: hidden;}

.entry-call-to-action{display: none; visibility: hidden;}
.social-sharing-wrapper{display: none; visibility: hidden;}
.connect-socially-region{display: none; visibility: hidden;}

.footer{text-align: left; clear: both;}
.footer-credits{text-align: left; margin-left: 0;}
.footer-credits ul, footer-credits ul li{text-align: left; margin-left: 0;}

.footer .email-signup{display: none; visibility: hidden;}
.footer .nav.menu{display: none; visibility: hidden;}


#invisible-container{ 
	width: 100%; height: 100%; margin: auto; margin-top: 0px;
}

#site-container{
	border: 0px; width: 100%; 
	padding: 0px; margin: auto; height: 100%; 
}
#masthead{
	display: none;
}


/*navigation*/
#site-nav{
	display: none;
}
#menu{
	display: none;
}


/*site content*/
#flash-container{display: none;}

#content-container{
	 border: 0px; padding: 0px 0px 0px 0px; margin: auto; margin-top: 0px; top: 0px; 
	 width: 100%; height: 100%; background: none; text-align: left; z-index: 7; position: relative; 	
}

#innerPageColCenter{
	
}

#extenderImg{display: none;}
#rightADColumn{display:none;}
#extenderImgTwo{display: none;}
#extenderImgThree{display: none;}



#siteBottomSpacer{display: none;/*clear: both; padding: 0px; margin: 0 0 0 0;*/}
#footer img{display: none;}
#footer{
	display: none;/*padding: 0px 0px 0px 0px; margin: auto; margin-top: 0px; border: 0px solid green; text-align: right;  
	color: #fffeff; font-size: small; background: none; clear: both; width: 90%;*/
}
/*
#footer a{
	color: #fffeff; font-size: x-small;
}
*/
